<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.headline }}</title>
</head>
<body>

<a href="{% url 'index' %}"> Back </a> <br>

<h5 style="text-align: center; background: yellow"> {{ help_text | default:'Link to Google Docs can only indicate the completion of this article and it will lead to further review of this article.' }}</h5>

<form action="{% url 'update_article' article_id=article.id %}" method="post">
    {%  csrf_token %}
    <div style="padding: 20px;">
        <h2>{{ article.headline }}</h2>
        <textarea rows="10" cols="80" title="content" name="content">
            {{ article.content }}
        </textarea>
        <br>
        <br>
        <span> Status: {{ article.status }} </span>
        <br>
        <span> Approval: {{ article.approved_by.full_name | default:'Not approved yet.' }} </span>
        <br>

        {% if is_article_open %}
            <br>
            <input type="submit" value="Submit Article">
            <br>
        {% endif %}
    </div>
</form>

<br><br>

<div class="actions">
    {% if is_article_in_review and has_approve_access %}
        <form action="{% url 'approve_article' article_id=article.id %}" method="post">
            {%  csrf_token %}
            <input type="submit" value="Approve">
        </form>
    {% endif %}
</div>

</body>
</html>