<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% load semanticui %}
    <!-- The styles -->
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/semantic.min.css' %}"/>

    <script src="{% static 'web/js/jquery-3.3.1.js' %}"></script>
</head>
<body>

<div class="container text-center">
    <div class="row">
        <div class="col-lg-12">

            <div class="ui top fixed menu">
                <div class="item">
                    <h2> Welcome to Open Articles </h2>
                </div>
                <a class="item" href="{% url 'register' %}"> Sign up </a>
                <a class="item" href="{% url 'index' %}">Sign-in</a>
            </div>

            <div class="ui stackable container">

                <form action="{% url 'register' %}" method="post" class="ui form">
                    {% csrf_token %}
                    {% render_form form %}

                    <div class="two fields">
                        <div class="required field">
                            <select title="gender" name="gender" class="ui dropdown" >
                                <option value="">Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="required field">
                            <select title="role" name="role" class="ui dropdown" required>
                                <option value="">Role</option>
                                <option value="writer">Writer</option>
                                <option value="editor">Editor</option>
                            </select>
                        </div>
                    </div>

                    <input type="submit" class="ui button" value="Register" />
                </form>

                {% if errors %}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        <div class="header">
                        There were some errors with your login
                        </div>
                        <ul class="list">
                        <li>{{ errors }}</li>
                        </ul>
                    </div>
                {%  endif %}

            </div>

        </div>
    </div>
</div>

<script src="{% static 'web/js/semantic.min.js' %}"></script>

</body>
</html>